#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_URI} !=/favicon.ico
#    RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
#</IfModule>
php_value auto_prepend_file "/nfs/farm/groups/iota/public_html/bootstrap.php"

# Allow for omission of .php extension
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to files with extensions .ini, .psd, .log, .sh
<FilesMatch "\.(yaml|ini|psd|log|sh|sql)$">
Order allow,deny
Deny from all
</FilesMatch>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Disable directory browsing
Options -Indexes

# Custom error pages
ErrorDocument 404 /not-found


