# Access file configuration for IoT Alliance Website
# Oregon State University

# Automatically run the bootstrap.php file at the beginning of every request to initialize configuration, database
# access, and user information
# TODO: this must be changed to the proper production bootstrap.php file before pushing changes to the production
# master repository
php_value auto_prepend_file "/nfs/farm/groups/iota/development/public_html/bootstrap.php"

# Allow for omission of .php extension
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to files with extensions .ini, .psd, .log, .sh
<FilesMatch "\.(yaml|ini|psd|log|sh|sql)$">
Order allow,deny
Deny from all
</FilesMatch>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Disable directory browsing
Options -Indexes

# Custom error pages
ErrorDocument 404 /not-found
ErrorDocument 500 /error


