html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

main.container-fluid {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
}

main.container {
    padding-top: 10px;
}

header, footer {
    flex-shrink: 0;
}

footer {
    background-color: #000000;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-buffer {
    margin-top: 20px;
}


.calendar {
    overflow: visible;
    padding-top: 0;
    width: 100%;
}

.iframe-calendar {
    height: 500px;
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .calendar {
        position: relative;
        overflow: hidden;
        padding-top: 50%;
    }

    .iframe-calendar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

footer .disclaimer {
    color: white;
    text-decoration: underline;
    margin-right: 10px;
}

#clubs {
    display: none;
}

#clubEventName {
    display: none;
}

#submitParticipationButton {
    margin-bottom: 20px;
}

.contribute-resource {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0px
}

.form-contribute-resource .form-row {
    margin-top: 10px;
}

.form-submit {
    margin-top: 20px !important;
}

table.available-topics td {
    vertical-align: middle;
}

table.available-topics td:last-child {
    width: 120px !important;
}

.resource-topics-container {
    max-height: 200px;
    overflow-y: auto;
}

table.topic-results {
    display: none;
}

table.topic-results .name {
    width: 200px;
}

table.topic-results .downloads {
    width: 110px;
}

table.topic-results .filetype {
    width: 110px;
}

table.topic-results .actions {
    width: 130px;
}

table.topic-results .actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.topic-results-mobile .col {
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px #cccccc;
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
}

.topic-results-mobile .col a {
    float: right;
}

@media only screen and (min-width: 768px) {
    .topic-results-mobile {
        display: none;
    }

    table.topic-results {
        display: table;
    }
}

.loader {
    display: none;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}