html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: 10px;
}

header, footer {
    flex-shrink: 0;
}

footer {
    background-color: #000000;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.calendar {
    position: relative;
    overflow: hidden;
    padding-top: 50%;
}

.iframe-calendar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer .disclaimer {
    color: white;
    text-decoration: underline;
    margin-right: 10px;
}